@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap%27');

Body {
  width: 100%;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: calc(100vh - 21.5vh);
}

.home-content-wrapper {
  display: flex;
  width: 62%;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 75px;
  z-index: 2;
  width: 600px;
}

.sub-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 15px;
  z-index: 2;
  margin-bottom: 40px;
}

.home-image {
  bottom: 5%;
  right: -10%;
  height: auto;
  width: 1400px;
  z-index: 0;
  position: absolute;
}
.left-side {
  z-index: 3;
  width: 500px;
}

.right-side {
}

.margin {
  padding: none;
  margin-bottom: 200px;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}
